*{
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: black;
    width: 100vw;
    align-items: center;
}

h1{
   color: white; 
   text-align: center;
   font-size: 70px;
   font-weight: lighter;
   
}

td span{
    display: flex;
    align-items: center;
    
}
td{
    color: white;
    border-radius: 6px;
    text-align: center;   
}

table tbody tr td span{
    justify-content: center;
}

.AtomicNumber{
    font-size: small;
    justify-content: flex-end;
    padding-right: 4px;
}

.Symbol{
    font-size: larger;
    font-weight: bolder;
}

.Name{
    font-size: smaller;
    font-weight: lighter;
}


.none{
    border:none;
}
.MetaisAlcalinos{
    background-color: #BF0426;
 }
 
.MetaisAlcalinoterrosos{
    background-color: #ffa500;

}

.MetaisDeTransicao{
    background-color: #03A6A6;
}

.MetaisPosTransicao{
    background-color: #700170;
}

.Semimetais{
    background-color: #dab850;

 }

 .NaoMetaisPoliatomicos{
    background-color: #D97904;
 }
 

 .NaoMetaisDiatomicos{
    background-color: #ff4500;

 }

 .GasesNobres{
    background-color: #ffc0cb;

 }

 .PropriedadesQuimicasDesconhecidas{
    background-color: #808080;

 }

 .Lantanideos{
    background-color: #D94AA7;

 }

 .Actinideos{
    background-color: #8a2be2;

 }