@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Patua+One&family=Roboto+Slab&display=swap');


/* cores.css */

:root {
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-cinza: #CECECE;
    --cor-darkcinza: #B8BEBF;
    --cor-pride: linear-gradient(to bottom right, #acdef2, #f3c7e9, #f1b3d5);
    --cor-azul: #A7E4F2;
    --cor-rosa: #F2BBDF; 
    --cor-roxo: #BAB0DD;
    --cor-darkrosa: #D979AE;
    --cor-darkazul: #62C5DE;
    --cor-darkroxo: #A9B0D9;
    --cor-lightroxo: #E4E9F2;

  }



  /* fontes.css */

  :root {
    --fonte-titulo: 'Patua One', cursive;
    --fonte-subtitulo: 'Open Sans', sans-serif;
    --fonte-paragrafo: 'Roboto Slab', serif;
  }

