html, body{
    background: var(--cor-lightroxo);
    font-family: var(--fonte-paragrafo);
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}


h1{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor-darkrosa);
    
}

label{
    color:white;
    font-size: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 60%;
    max-width: 60%;
    padding: 1.6rem 0;
    }

    button {
        margin-top: 10px;
        padding: 0.8rem 1.6rem;
        color: white;
        font-size: 1.2rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        background-image: var(--svg-background);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }